<div class="row">
	<div class="col-sm-4"></div>
	<!-- /col-sm-4 left -->
	<div class="col-sm-4">
		<span class="anchor"></span>
		<!-- form card login -->
		<div class="card rounded-0">
			<div class="card-header">
				<h3 class="mb-0">Ingreso</h3>
			</div>
			<div class="card-body">
				<form name="loginForm" class="form-horizontal" role="form">
					<div class="form-group">
						<label for="user">Usuario</label>
						<input id="user" type="text" class="form-control form-control-lg rounded-0" ng-model="login.nombuser" required focus>
					</div>
					<div class="form-group">
						<label for="pwd">Contraseña</label>
						<input type="password" class="form-control form-control-lg rounded-0" id="pwd" ng-model="login.password" required autocomplete="contraseña">
					</div>
					<button type="submit" class="btn btn-primary" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">
						Ingresar
					</button>
					
				</form>
			</div>
			<!--/card-block-->
		</div>
		<!-- /form card login -->
	</div>
	<!-- /col-sm-4 center -->
	<div class="col-sm-4"></div>
	<!-- /col-sm-4 right -->
</div>
<!--/row-->